*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    padding: 25px;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
}

.outputz {
    width: 334px;
    background: white;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    text-align: right;
    flex: 1;
    font-size: 50px;
    box-shadow: none;
    border-radius: 10px;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator button {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.calculator button:hover {
    box-shadow: none;
}

.btn.color {
    background: skyblue;
}
.btn.colorz {
    background: red;
}
.btn.colore {
    background: blue;
}